{
    "compact": false,
    "env": {
      "development": {
        "plugins": [
            "react-hot-loader/babel"
        ],
      }
    },
    "presets": [
        "env",
        "react",
        "stage-0"
    ]
}
