/* Fonts */

@import url("/dist/icons.css");

@font-face {
  font-family: 'hk_grotesk_pro';
  font-weight: $font-weight-bold;
  font-style: normal;
  src: url('./services/styles/fonts/hk_grotesk_pro/hkgroteskpro-bold-webfont.woff2') format('woff2');
}

@font-face {
  font-family: 'hk_grotesk_pro';
  font-weight: $font-weight-medium;
  font-style: normal;
  src: url('./services/styles/fonts/hk_grotesk_pro/hkgroteskpro-medium-webfont.woff2') format('woff2');
}

@font-face {
  font-family: 'hk_grotesk_pro';
  font-weight: $font-weight-normal;
  font-style: normal;
  src: url('./services/styles/fonts/hk_grotesk_pro/hkgroteskpro-regular-webfont.woff2') format('woff2');
}

@font-face {
  font-family: 'hk_grotesk_pro';
  font-weight: $font-weight-semibold;
  font-style: normal;
  src: url('./services/styles/fonts/hk_grotesk_pro/hkgroteskpro-semibold-webfont.woff2') format('woff2');
}
