@import "bourbon/bourbon";
@import "neat/neat";

* {
    margin: 0;
    padding: 0;
    border-width: 0;
}

body {

}

a.active {
    color: green;
}

a.articleTags {
    
}

h1 {
    font-family: "Helvetica", Arial, sans-serif;
}

pre code {
    color: blue;
}

p {
    color: #222222;
    font-family: "Helvetica", Arial, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5625;
    margin-bottom: 15px;
}

blockquote {
    color: yellow;
    border-left-color: red;
    border-left-width: 10px;
}
